<a data-toggle="modal" data-target=".bd-example-modal-xl">Modal extra grande</a>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>FALE CONNOSCO</h2>
                    <h4>FORMULÁRIO</h4>
                    <h6>Campos Obrigatórios</h6>
                </div>
    
                <div class="col-md-12">
                    <label for="exampleInputEmail1">Empresa</label>
                    <input id="nameE" type="name" class="form-control" placeholder="Nome da Empresa">
                </div>
    
                <div class="col-md-12">
                    <label for="exampleInputEmail1">Nome*</label>
                    <input id="nameC" type="name" class="form-control" placeholder="Nome Completo*">
                </div>
    
                <div class="col-md-6">
                    <label for="exampleInputEmail1">E-mail*</label>
                    <input id="email" type="email" class="form-control" placeholder="ex: seu@mail.com">
                </div>
    
                <div class="col-md-6">
                    <label for="exampleInputEmail1">Telefone*</label>
                    <input id="number" type="number" class="form-control" placeholder="00">
                </div>
    
                <div class="col-md-4">
                    <label for="exampleInputEmail1">País</label>
                    <input id="pais" type="name" class="form-control">
                </div>
    
                <div class="col-md-4">
                    <label for="exampleInputEmail1">Cidade</label>
                    <input id="Provincia" type="name" class="form-control">
                </div>
    
                <div class="col-md-4">
                    <label for="exampleInputEmail1">Provincia/Estado</label>
                    <input id="TConsulta" type="name" class="form-control">
                </div>
    
                <div class="col-md-12">
                    <label for="exampleInputEmail1">Mensagem*</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escreva alguma coisa..."></textarea>
                    <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud <br></small>
                    <a class="btn btn-primary" href="" role="button">Enviar Formulário</a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>